/*
    If you are only using the base UI, and you're not planning on customising the Interface (colour/font-change), you won't need this file.
    Otherwise, go wild in the stylesheet!
*/

@font-face {
    font-family: "OurFont";
    src: url("./VT323-Regular.ttf");
}

html {
    font-family: "OurFont", monospace;
    font-size: 120%;
}

.stats {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

pre {
    font-size: 50%;
}